//- block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
		link(rel="shortcut icon", type="image/x-icon", href="favicon/favicon.ico")
		link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
		link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
		link(rel="manifest", href="favicon/site.webmanifest")
		link(rel="mask-icon", href="favicon/safari-pinned-tab.svg")
		meta(name="msapplication-config", content="favicon/browserconfig.xml")
		title Task2
	body
		.root.js-root
			include ./components/header.pug
			block main
			include ./components/footer.pug
			include ./components/popup.pug
