extends ../ui-layout

block main
	div(style="margin-bottom: 40px")
		include ../components/header
	div(style="margin-bottom: 40px")
		include ../components/header-login
	div(style="margin-bottom: 40px")
		include ../components/footer
	div
		include ../components/footer-md