extends ../home-layout

block main
	main.main
		section.main-preview
			img.main-preview__img(src="img/landing-page/main.jpg", alt="" srcset="img/landing-page/main@2x.jpg 2x, img/landing-page/main@3x.jpg 3x")
			p.main-preview__desc Лучшие номера для вашей работы, отдыха и просто вдохновения
