extends ../ui-layout

block main
	main.main(style="display: flex; justify-content: center; height: 100vh; padding: 100px 20px")
		ul
			li
				a(href="/task2-webpack2020/home.html" target="_blank")
					h1 Главная
			li
				a(href="/task2-webpack2020/filter-page.html" target="_blank")
					h1 Стариница с фильтром
			li
				a(href="/task2-webpack2020/room-details.html" target="_blank")
					h1 Детальная страница номера
			li
				a(href="/task2-webpack2020/colors-type.html" target="_blank")
					h1 Цвета и заголовки
			li
				a(href="/task2-webpack2020/form-elements.html" target="_blank")
					h1 Элементы формы
			li
				a(href="/task2-webpack2020/cards.html" target="_blank")
					h1 Все карточки
			li
				a(href="/task2-webpack2020/headers-footers.html" target="_blank")
					h1 Хедер и футер