.btn-burger {
	display: none;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	background-color: transparent;

	svg {
		path {
			transition: fill 0.2s ease;
		}
	}

	&_open {
		svg {
			path {
				&:first-child {
					fill: #FE9EFE;
				}

				&:nth-child(2) {
					mix-blend-mode: color-burn;
					fill: #D83131;
				}

				&:nth-child(3) {
					fill: url(#paint0_linear);
				}

				&:nth-child(4) {
					mix-blend-mode: lighten;
					fill: #FE860A;
				}

				&:nth-child(5) {
					fill: #BBEC6C;
				}

				&:nth-child(6) {
					fill: #A2E62E;
				}

				&:nth-child(7) {
					fill: #FEE45A;
				}

				&:nth-child(8),
				&:nth-child(9) {
					fill: #6AD1C4;
				}

				&:nth-child(10) {
					mix-blend-mode: lighten;
					fill: #6AD1C4;
				}

				&:nth-child(11) {
					fill: url(#paint1_linear);
				}

				&:nth-child(12) {
					mix-blend-mode: lighten;
					fill: #FE860A;

				}
				&:nth-child(13),
				&:nth-child(14),
				&:nth-child(15) {
					mix-blend-mode: color-burn;
					fill: #FE860A;
				}
			}
		}
	}

	@include media(md) {
		display: block;
	}
}

// @keyframes scale {
// 	0% {
// 	}
// 	100% {
// 	}
// }
