.room-info {
	display: block;
	padding-top: 70px;
	background-color: $white;

	&__left {
		display: flex;
	}
}

.info-top {
	display: block;

	&__title {
		display: block;
		margin-bottom: 20px;
		font-family: "Quicksand", sans-serif;
		font-size: 19px;
		line-height: 24px;
		font-weight: 700;
		color: $dark;
	}

	&__list {
		margin-bottom: 30px;
	}
}

.info-list {
	display: block;

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.info-item {
	display: flex;

	&__img {
		display: block;
		width: 48px;
		height: 48px;
		margin-right: 10px;
	}

	&__content {
		display: block;

		span,
		p {
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			line-height: 24px;
			color: $dark75;
		}

		span {
			font-weight: 700;
		}

		p {
			font-weight: 400;
		}
	}
}

.chart {
	display: flex;
	align-items: flex-end;

	&__circle {
		display: block;
		margin-right: 30px;

		circle {
			fill: $white;
		}

		text {
			font-weight: 700;
			fill: $purple;

			&:first-of-type {
				font-family: "Quicksand", sans-serif;
				font-size: 24px;
				line-height: 30px;
			}

			&:last-of-type {
				font-family: "Montserrat", sans-serif;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
			}
		}
	}
}

.chart-list {
	&__item {
		position: relative;
		padding-left: 15px;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: $dark75;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}

		&_3 {
			&::before {
				background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
			}
		}

		&_2 {
			&::before {
				background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			}
		}

		&_1 {
			&::before {
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			}
		}

		&_0 {
			&::before {
				background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
			}
		}
	}
}
