// Цвета
$dark: #1f2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.5);
$dark25: rgba($dark, 0.25);
$dark5: rgba($dark, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$gray: #e5e5e5;
$white: #fff;

$breakpoints: (
	xxs: 0,
	xs: 375,
	sm: 768px,
	md: 1024px,
	lg: 1280px
) !default;

$max-widths: (
	xxs: 100%,
	xs: 100%,
	sm: 738px,
	md: 976px,
	lg: 1190px
) !default;

$grid-gutter-width: 30px !default; // Отступ между колонками ( сумма падингов одной колонки )
$grid-columns: 12 !default; // Количество колонок

@import "~sass-snippets/scss/snippets";
